################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebShop/FileContentIndex/49a6f0cc-de99-4ca6-848c-ef4a38955950.vsidx
