################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebShop/FileContentIndex/49a6f0cc-de99-4ca6-848c-ef4a38955950.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/89fb992a-ba76-4a78-b077-9dec4b328ed6.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/bc350b65-9a69-457d-85a9-aa97215ec0e0.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/d56e105a-11bd-43ee-9c02-e7d10abc5376.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/0872b63d-62e4-4775-9dc6-14a03ad1f607.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/447224d4-a47e-4956-bd49-aac42608e30b.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/17f187aa-5f20-4a31-ab96-999f3bce44a8.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/5c2cbe24-5978-47bb-94f9-f1cd4c99c5d2.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/6f720c10-6cad-43ff-a38a-32727ceccb2f.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/dd9f2ded-f129-4376-bf74-2c23df67207b.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/43c1521e-acd9-43d7-8039-2cc14c2633bf.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/460cc64c-becd-4dec-8998-523639b013bc.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/4df2a63b-669b-4ed9-bbb1-05a30f345888.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/594a6dbb-cb4f-499c-ba7f-a3811631a35f.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/5d168b1e-1b64-4928-b30e-57483cfc756a.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/fe559d4b-1410-4e5f-b15e-c674a249351b.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/f92441fa-25af-4b7f-bd0d-2c3588b458d7.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/54a5da59-8a88-4960-b638-c0100b3e7765.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/4c7dfd26-8774-453a-b248-f3adc296fecf.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/70b48bfa-bfb6-4714-bfa8-9bee33ca984b.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/829a983e-6807-4624-ae8d-23850fdcb7fa.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/96273813-9fbb-439c-b0ca-c4f3f5633704.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/dede174c-7384-47b3-aee3-58a21f7bc257.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/e6494968-83d8-40b7-800b-2ec1d6ff47f5.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/e7ea7b79-527c-4e49-9d52-6fe1868e1620.vsidx
