################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebShop/FileContentIndex/49a6f0cc-de99-4ca6-848c-ef4a38955950.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/89fb992a-ba76-4a78-b077-9dec4b328ed6.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/bc350b65-9a69-457d-85a9-aa97215ec0e0.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/d56e105a-11bd-43ee-9c02-e7d10abc5376.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/0872b63d-62e4-4775-9dc6-14a03ad1f607.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/447224d4-a47e-4956-bd49-aac42608e30b.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/17f187aa-5f20-4a31-ab96-999f3bce44a8.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/5c2cbe24-5978-47bb-94f9-f1cd4c99c5d2.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/6f720c10-6cad-43ff-a38a-32727ceccb2f.vsidx
/IMSWeb/.vs/IMSWeb/FileContentIndex/dd9f2ded-f129-4376-bf74-2c23df67207b.vsidx
